/*** Site Colors ***
dark: #494949
dark-grey: #8f8e8e
light-grey: #d3d3d3

*/
@import "general.css";



.header {
    text-align: center;
    grid-area: hd;
    padding: 0px 50px 100px 50px;
    background: linear-gradient(#d3d3d3,white); 
}


.headerh1 {
    font-size: 300%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer {
    grid-area: ft;
    text-align: center;
    padding: 50px 10px 30px;
    font-size: 70%;
    background: linear-gradient(white, #d3d3d3); 
}

.box {
    font-size: 80%;
    margin: 10px;
    border: 2px solid #8f8e8e;
    padding: 5px;
    border-radius: 5%;
    background-color: lightgray;
    text-align: right;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.507);
    transition: 0.3s;
}

.shortDiscription {
    text-align: center;
}

.shortDiscription ul {
    text-align: left;
}

.boxButton {
    background-color: #a28aa7b4;
    border-color: #ad81b4;
    border-radius: 30%;
    width: 100px;
    height: 30px;
}


img {
    border-radius: 50%;
}





